* {
box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	color: #777777;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/concrete_seamless.png");
}	

header {
	background-color: #ffffff;
	margin: 0 0 30px;
	border-bottom: 2px solid #cccccc;
	position: relative;
	width: 100%;
	overflow: auto;
	color: #777777;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

#main-container {
	position: relative;
}

#logo {
	color: #ffffff;
	background-color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: bold;
	width: 270px;
	height: 90px;
	padding: 24px;
	text-align: center;
	float: left;
}

nav {
	float: right;
	margin-top: 25px;
}

nav a {
	color: #777777;
	text-decoration: none;
	margin-left: 15px;
	padding-left: 15px;
	display: inline-block;
	line-height: 18px;
	border-left: 1px solid #efefef;
}

nav a:first-child {
	border-left: 0 none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 20px;
}

h2, .sidebar {
	border-bottom: 2px solid #dddddd;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}

h2, h3 {
	font-size: 22px;
}

h1, h2, h3 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
}

h1, h2, h3, p {
	margin-bottom: 20px;
}

.main-section {
	width: 100%;
	max-width: 650px;
	padding: 30px;
	border: 1px solid #dddddd;
	float: left;
	background-color: #ffffff;
	margin-bottom: 40px;
}

.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 25px;
	margin-top: 10px;
}

.sidebar {
	border: 1px solid #dddddd;
	float: right;
	padding: 30px;
	background-color: #ffffff;
	width: 100%;
	max-width: 270px;
	margin-bottom: 20px;
	line-height: 22px;
}

.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 4px;
}	

.social:last-child {
	margin-right: none;
}

.portfolio {
	float: left;
	overflow: auto;
	margin: 20px 0 25px;
	position: relative;
	width: 274px;
}

.portfolio:nth-child(even) {
	margin-right: 40px;
}

.portfolio img {
	width: 100%;
	margin-top: 5px;
}

h3 {
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	position: absolute;
	bottom: 10px;
	width: 100%;
	padding: 15px;
	margin-bottom: 0;
	line-height: 30px;
	font-weight: 300;
}

input {
	margin-bottom: 10px;
}

input[type=text] {
	width: 100%;
	display: block;
	padding: 5px;
	margin-right: 10px;
	color: #777777;
}

input[type=submit] {
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 30px;
	border: 0 none;
	font-size: 18px;
}

textarea {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

footer {
	color: #ffffff;
	background-color: #666666;
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: -95px;
	padding: 30px 0;
	border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
	#logo {
		margin-left: 80px;
	}
	nav {
		margin-right: 80px;
	}
	#main-container {
		width: 100%;
		margin-left: 80px;
		margin-right: 80px;
	}
	.main-section {
		max-width: 50%;
		margin-right: 40px;
	}
	.auth-image {
		width: 100%;
		margin-bottom: 20px;
	}
	.sidebar {
		float: left;
	}
}

@media screen and (max-width: 768px) {
	header {
		max-width: 100%;
	}
	#logo {
		margin-left: 20px;
	}
	nav {
		margin-right: 20px;
	}
	#main-container {
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}
	.main-section {
		width: 100%;
		max-width: 100%;
		margin-right: 20px;
	}
	.sidebar {
		max-width: 100%;
		float: left;
		margin-bottom: 40px;
}
	.auth-image {
		width: 200px;
	}
}

@media screen and (max-width: 640px) {
	#main-container {
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}
	header {
		position: static;
	}
	#logo {
		width: 100%;
		margin-left: 0;
	}	
	nav {
		padding-bottom: 20px;
	}
	.main-section {
		max-width: 100%;
	}
	.sidebar {
		float: left;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.auth-image {
		width: 200px;
	}
}
